* {
    margin: 0;
    padding: 0;
}
.sidebar {
    position: fixed;
    width: 50%;
    height: 100vh;
   
}
.student-table {
    width: 70%;
    position: relative;
    left: 20%;
}


.elementimg1{
    position: relative;
  }
  .elementimg2{
    min-width: 200px;
    max-width:  500px;
    position: absolute;
    left: 0;
    top: 100px;
    animation: move 2.5s linear infinite;
  }
  @keyframes move {
    0%{
      transform: translate(-15px,0px);
    }
    50%{
      transform: translate(0px,15px);
    }
    
    100%{
      transform: translate(-15px,0px);
    }
    
    
  }
  
  .cardbg{
  
    background: rgba(169, 167, 226, 0.937);
  }