/* 
  
  body {
    background: linear-gradient(73deg, rgb(202, 171, 214) 19%, rgba(215, 163, 219, 0.458) 48%, rgb(165, 168, 246) 82%);
    font-size: 12px;
    box-sizing: border-box;
    margin: 0;padding: 0;
  }
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 2000px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: linear-gradient(73deg, rgb(246, 246, 246) 14%, rgba(233, 239, 247, 0.458) 48%, rgb(184, 199, 208) 82%);

    border-radius: 15px;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #38265d;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 40px;
    height: 4px;
    background: linear-gradient(73deg, rgb(172, 129, 232) 14%, rgb(236, 134, 215) 48%, rgb(217, 143, 164) 82%);

  }
  
  .app-contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
  }
  .app-contact iframe{
    height: 400px;
    border: 1px solid black;
    border-radius: 3px;
  }
  .app-form-group {
    margin-bottom: 20px;
  }
  
  .app-form-group.message {
    margin-top: 20px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    margin-top: 50px;
    text-align: center;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #561656;
  }
  textarea {
    text-transform: uppercase;
    outline: none;
    background: none;
    padding: 10px 0;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    color: #000000;
    font-size: 16px;
    border-bottom: 1px solid #666;
    transition: border-color .2s;
  }
  
  .app-form-button {
    background: none;
    border: 3px linear-gradient(73deg, rgb(172, 129, 232) 14%, rgb(236, 134, 215) 48%, rgb(217, 143, 164) 82%);
    color: #cf1dea;
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
 
  
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
   */